{{base_url}}   
 
 {% set theme_url = drupal_get_path('theme','barcel') %}
 {% set theme_base = base_url~'/'~theme_url~'/' %}


<section id="brands-section" class="section-container">
	<div class="grid-brands-container">
		<div class="holder"></div>		
		<div id="list-brands" class="row row-brands">
							{% for key, value in rows %}
          {% set tid = view.render_field('tid',key) %}
          {% set brand = taxonomy_term_load(tid) %}	          				
          {% set color = brand.field_background_color'und'.0.value %}
          {% set link = brand.field_link_productos'und'.0.value %}
          {% set image_logo = file_create_url(brand.field_logo_marca'und'.0.uri) %}
      
				<div class="col-xs-6 col-md-3 col-brand" style="background-color: {{ color }}">
					<a href="{{ base_url~'/'~link }}" class="link-brand"><img src="{{ image_logo }}" class="img-responsive brand-logo" /></a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>