{% set title = content.body['#object'].title %}


<section id="legales-section" class="section-container">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h2>{{ title }}</h2>

				<div class="legales-container">
					<div class="content text-left">
						{{ content.body }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	var ps = new PerfectScrollbar('.node-type-legales #legales-section .legales-container',{
		suppressScrollX: true
	});	
</script>