/**** Home Page ****/
.page-home{
	.navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#home-section{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;
		background-image: url('../images/promo/home-promo/fondo_rojo_desk.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.banner-home-container{
			.link-banner{
				.banner-barcel{												
					top: 11vw;						
					right: 0vw;
					width: 20vw;
					position: absolute;
				}
			}

			.col-home-left{
				min-height: 100vh;

				.content-scene{
					width: 100%;
				    height: 100%;
				    color: white;
				    padding: 0;
				    display: flex;
				    position: absolute;
				    text-align: center;
				    align-items: center;
				    justify-content: center;

					.scene{						
						.scene-one{
							img{
								width: 30vw;
							}
						}

						.scene-two{
							text-align: center;
							top: 4vw !important;
    						left: 7vw !important;

							img{
								width: 18vw;
							}
						}
					}
				}
			}

			.col-home-right{
				min-height: 100vh;

				.content-scene{
					width: 100%;
				    height: 100%;
				    color: white;
				    padding: 0;
				    display: flex;
				    position: absolute;
				    text-align: center;
				    align-items: center;
				    justify-content: center;

					.scene{						
						.scene-one{
							img{
								width: 30vw;
							}
						}

						.scene-two{
							text-align: center;
							top: -1vw !important;
							left: 8vw !important;

							img{
								width: 13vw;
							}
						}
					}
				}				
			}
		}
	}	
}

/**** Brands Page ****/
.page-marcas{	
	.navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#brands-section{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;
		margin-bottom: 3%;

		.grid-brands-container{
			.holder{
				display: none;
			}

			.row-brands{
				.col-brand{
					.link-brand{
						.brand-logo{
							margin: 15% auto;
							transition: transform .5s ease;
						}

						&:hover{
							.brand-logo{
							  -moz-transform: scale(1.1);
							  -webkit-transform: scale(1.1);
							  transform: scale(1.1);
							}			
						}			
					}
				}
			}
		}
	}
}

/**** Campaings Page ****/
.page-campanias{
	.navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#campaings-section{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;
		margin-bottom: 3%;

		.campaings-container{
			.arrow-down{
				top: 45vw;
				left: 0;
				right: 0;
				width: 40px;
				margin: 0 auto;
				z-index: 1;
			}

			.banner-campaing{
				margin: 0 auto;
			}

			.head-campaing{
				width: 55%;
    			margin: 1% auto 0;
    			line-height: 0.8;

				small{
					color: #ffffff;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					text-transform: none;
				}
			}
		}
	}
}

/**** Products View ****/
.views-productos{
	.navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#products-section{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;	

		.products-container{
			.arrow-down{
				top: 45vw;
				left: 0;
				right: 0;
				width: 40px;
				margin: 0 auto;
				z-index: 1;
			}

			.row-main{
				height: 100%;

				.col-main{
					width: 100%;
					height: 100%;					
					padding: 0;
					display: flex;
					position: absolute;
					text-align: center;
					align-items: center;
					justify-content: center;

					.scene{
						width: 100%;
						height: 100%;						

						.scene-packing{
							top: 0;

							img{
								width: 35vw;
								margin: 7vw auto 0;
							}
						}

						.scene-product{
							top: 36vw !important;
							right: 0;

							img{
								width: 30vw;
								margin: 0 auto;
							}
						}
					}
				}
			}

			.list-slugs-product{
				top: 18vw;
				right: 5vw;				
				position: fixed;
				z-index: 1;
				transition: all 5s ease-out;

				li{					
					color: #FFFFFF;
					font-size: 2vw;
				  	font-family: Teko;				  	
				  	line-height: 48px;
				  	text-align: right;
				  	text-transform: uppercase;
				  	list-style: none;
				  	cursor: pointer;

				  	b{
				  		font-weight: 500;
				  	}

				  	&.active{
				  		color: #F6DB36;

				  		&.sal-de-mar{
				  			color: #00B33B;
				  		}

				  		&.huakamoles{
				  			color: #4E1588;
				  		}

				  		&.salsa-brava{
				  			color: #4E1588;
				  		}

				  		&.original{
				  			color: #4E1588;
				  		}

				  		&.salados{
				  			color: #8C1A61;
				  		}

				  		&.karameladas{
				  			color: #4E1588;
				  		}

				  		&.habanero{
				  			color: #00B33B;
				  		}

				  		&.chicharrón-de-cerdo{
				  			color: #91272D;
				  		}

				  		&.chicharrÓn-de-harina/chile{
				  			color: #1A468E;
				  		}

				  		&.esquites{
				  			color: #003CED;
				  		}

				  		&.voltio{
				  			color: #721A23;
				  		}
						
						&.others{
							color: #4E1588;
						}				  		
				  	}				  	
				}
			}

			.banner-campaing{
				margin: 0 auto;
			}

			.head-campaing{
				width: 55%;
    			margin: 1% auto 0;
    			line-height: 0.8;

				small{
					color: #ffffff;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
					text-transform: none;
				}
			}

			.package-product{
				width: 30vw;
				margin: 0 auto;	

				&.package-chipotle-limon{
					width: 22vw;
				}						
			}

			.prod-description{
				width: 40%;
				margin: 0 auto;
			}

			.btn-product{
				color: white;
			    font-size: 1.5vw;
			    margin: 1% auto 3%;
			    padding: 3px 55px;
			    border: 3px solid white;
			    border-radius: 27px;
			    background-color: rgba(0, 0, 0, 0);

			    &:hover{
			    	color: #333333;
			    	background-color: #ffffff;
			    }
			}	
		}		
	}
}	

/**** Contact Form ****/
.node-type-webform{
	.navbar-lado-b{
		display: none;
	}

	header{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#contact-section{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;	
		background-color: #DA1C47;

		.contact-container{
			width: 25vw;
			height: 100%;
			padding: 0;			
			margin: 0 auto;

			.page-header{
				font-size: 2.2vw;
				margin-top: 7vw;
				margin-bottom: 5px;
				text-align: center;
				border-bottom: 0px solid transparent;
			}

			p{
				width: 50%;
				margin: 0 auto;				
				text-align: center;
				font-family: 'Montserrat', sans-serif;
			}

			.form-item{				
				margin: 2% auto;

				.control-label{
					font-family: 'Montserrat', sans-serif;
					line-height: 19px;
				}
			}

			.checkbox{
				label{
					font-size: 12px;
					font-family: 'Montserrat', sans-serif;
					line-height: 17px;
					margin: 6px auto;

					a{
						color: #ffffff;
						text-decoration: underline;
						font-style: italic;
					}
				}
			}

			.captcha{
				display: inline-block;
			}

			.form-actions{
				.webform-submit{
					color: #ffffff;
					font-size: 1.5vw;
					margin-top: 4%;
					padding: 3px 55px;					
					border: 3px solid white;
				    border-radius: 27px;
				    background-color: transparent;	
				    text-transform: uppercase;

				    &:hover{
				    	color: #333333;
				    	background-color: white;
				    }			    				    
				}
			}
		}
	}
}

/**** Legales Pages ****/
.node-type-legales{
	.navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#legales-section{
		width: 100%;
		height: 100vh;
		max-height: 100vh;
		position: relative;	
		background-color: #DA1C47;
		overflow: hidden;

		.container{
			width: 100%;
			height: 100%;					
			padding: 0;
			display: flex;
			position: absolute;
			text-align: center;
			align-items: center;
			justify-content: center;

			h2{
				font-size: 2.2vw;
				margin: 0 auto 2%;				    
			}

			.legales-container{				
				width: 55%;
				height: 65vh;
				position: relative;	
				margin: 0 auto;
				font-family: 'Montserrat', sans-serif;	

				.content{
					padding: 0 4%;

					a{
						color: #F6DB36;

						&:hover{
							color: #0056a3;
						}
					}
				}
			}
		}
	}
}

/**** El lado B ****/
.page-el-lado-b{
	background-color: #ffffff;
	background-image: none;

	.navbar-home, .navbar-mb, .openbtn, .footer-site{
		display: none;
	}

	.scroll-page{
		top: 37vw;
	}

	.footer{    	    
	  &.footer-site, &.footer-promo{
	  		display: none;
	  }
	}

	#block-system-main{
		width: 100%;
		height: 100%;
		min-height: 100vh;

		.o-sliderContainer{
			margin: 48px 0px;
			margin-top: 5% !important;

			.o-slider{
				.o-slider--item{
					.o-slider-textWrap{
						width: 25vw;
						left: 15vw;
						bottom: 7vw;

						.o-slider-title{
							font-size: 1.8vw;							
							font-family: 'Montserrat', sans-serif;							
							margin-bottom: 4%;
							font-weight: 700;
						}

						.o-slider-paragraph{
							font-size: 0.8vw;
							font-family: 'Montserrat', sans-serif;
							letter-spacing: 0.25px;
							line-height: 24px;
							margin-bottom: 5%;
						}

						.o-slider-btn{
							color: #333333;
							font-size: 0.9vw;
							background-color: #FFFFFF;
							border-radius: 50px;
							padding: 12px 35px;
						}
					}
				}
			}
		}

		#lado-banner-section{
			.lado-banner-container{
				.banner-promocional{
					padding-right: 0px;
					padding-left: 0px;
					margin-bottom: 0px;
					background-color: transparent;
				}
			}
		}

		#lado-note-section{
			.note-container{
				width: 100%;
				padding-right: 0px;
				padding-left: 0px;

				.note-categorie{
				    width: 5vw;    
				    margin-bottom: 3%;
				    padding: 3px 5px;
				    display: block;
				    text-align: center;    
				    transform: skew(-5deg);
				    letter-spacing: 1px;
				    text-transform: uppercase;

				    &.music{
				      	background-color: #E1251B;
				    }

				    &.gaming{
				      	background-color: #00BFA5;
				    }

				    &.pop{
				    	width: 5vw;
				    	background-color: #0056A3;
				    }
				}

				.note-title{
					color: #333333;
					font-family: 'Montserrat', sans-serif;
				  	font-size: 2vw;	
				  	font-weight: 700;			  	
				  	line-height: 40px;
				}

				.note-paragraph{
					color: #333333;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
  					line-height: 29px;
				}

				.note-btn{
					font-size: 0.9vw;
					background-color: #FFFFFF;
					border-radius: 50px;
					padding: 7px 24px;					
				}
			}
		}

		#mas-lado-section{
			margin: 2% auto 5%;

			.mas-lado-container{
				text-align: center;

				.mas-title{
					color: #333333;
					font-size: 2.2vw;
					margin-bottom: 4%;

					span{
						width: auto;  
						color: #ffffff;
						padding: 2px 7px;
						display: inline-block;
						text-align: center;
						background-color: #E1251B;   
						transform: skew(-5deg);
					}
				}

				.note-card-body{
					.note-card-categorie{
					    width: 5vw;
					    color: #ffffff;    
					    margin-bottom: 3%;
					    padding: 3px 5px;
					    display: block;
					    text-align: center;    
					    transform: skew(-5deg);
					    letter-spacing: 1px;
					    text-transform: uppercase;

					    &.music{
					      	background-color: #E1251B;
					    }

					    &.gaming{
					      	background-color: #00BFA5;
					    }

					    &.pop{
					    	width: 5vw;
					    	background-color: #0056A3;
					    }
					}

					.note-card-title{
						color: #333333;
						font-family: 'Montserrat', sans-serif;
					  	font-size: 1.5vw;
					  	font-weight: 700;
					  	line-height: 35px;
					}

					.note-card-text{
						color: #333333;
						font-family: 'Montserrat', sans-serif;
						font-weight: 400;
	  					line-height: 29px;
					}

					.note-card-btn{
						font-size: 0.9vw;
						background-color: #FFFFFF;
						border-radius: 50px;
						padding: 7px 24px;						
					}					
				}
			}
		}
	}	
}

/**** Categories Lado B Pages ****/
.page-categories{
	background-color: #ffffff;
	background-image: none;

	.footer{    	    
	  &.footer-site, &.footer-promo{
	  		display: none;
	  }
	}

	&.page-musica{
		.pager-show-more{
			.pager-show-more-next{
				a{
				  	color: #E1251B;
					border-color: #E1251B;

					&:hover{
					    color: #ffffff;
					    background-color: #E1251B !important;
					}
				}	
			}
		}	
	}

	&.page-gaming{
		.pager-show-more{
			.pager-show-more-next{
				a{
					color: #00BFA5;
					border-color: #00BFA5;

					&:hover{
					    color: #ffffff;
					    background-color: #00BFA5 !important;
					}
				}
			}
		}
	}

	&.page-cultura-pop{
		.pager-show-more{
			.pager-show-more-next{
				a{
					color: #0056A3;
					border-color: #0056A3;

					&:hover{
					    color: #ffffff;
					    background-color: #0056A3 !important;
					}
				}	
			}
		}	
	}

	.navbar-home, .navbar-mb, .openbtn, .footer-site{
		display: none;
	}

	.pager-show-more{
		margin-bottom: 5%;

		.pager-show-more-next{
			a{
				font-size: 0.9vw;
				text-transform: uppercase;
				background-color: #FFFFFF;
				border-radius: 50px;
				padding: 7px 24px;
			}
		}
	}

	.block-views{
		.block-title{
			display: none;
		}

		#categorie-banner-section{
			.categorie-banner-container{
				.banner-categorie{
					padding-top: 0px;
					padding-bottom: 24px;
				}
			}
		}

		#categorie-note-section{
			.categorie-note-container{
				width: 100%;
				padding-right: 0px;
				padding-left: 0px;

				.categorie-note-categorie{
				    width: 5vw;    
				    margin-bottom: 3%;
				    padding: 3px 5px;
				    display: block;
				    text-align: center;    
				    transform: skew(-5deg);
				    letter-spacing: 1px;
				    text-transform: uppercase;

				    &.music{
				      	background-color: #E1251B;
				    }

				    &.gaming{
				      	background-color: #00BFA5;
				    }

				    &.pop{
				    	width: 5vw; 
				    	background-color: #0056A3;				    	
				    }
				}

				.categorie-note-title{
					color: #333333;
					font-family: 'Montserrat', sans-serif;
				  	font-size: 2vw;	
				  	font-weight: 700;			  	
				  	line-height: 40px;
				}

				.categorie-note-paragraph{
					color: #333333;
					font-family: 'Montserrat', sans-serif;
					font-weight: 400;
  					line-height: 25px;
				}

				.categorie-note-btn{
					font-size: 0.9vw;
					background-color: #FFFFFF;
					border-radius: 50px;
					padding: 7px 24px;					
				}
			}
		}

		#categorie-head-section{
			margin: 0% auto;

			.categorie-container{
				text-align: center;

				.categorie-title{
					color: #333333;
					font-size: 2.2vw;
					margin: 4% auto 0%;

					span{
						width: auto;  
						color: #ffffff;
						padding: 2px 7px;
						display: inline-block;
						text-align: center;
						background-color: #E1251B;   
						transform: skew(-5deg);
					}
				}
			}
		}
	}
	
	#block-system-main{
		width: 100%;
		height: 100%;
		min-height: 100vh;	
		padding-bottom: 5%;	

		#categorie-notes-section{
			margin: 4% auto 2%;

			.categorie-container{
				text-align: center;

				.note-card-body{
					.note-card-categorie{
					    width: 5vw;
					    color: #ffffff;    
					    margin-bottom: 3%;
					    padding: 3px 5px;
					    display: block;
					    text-align: center;    
					    transform: skew(-5deg);
					    letter-spacing: 1px;
					    text-transform: uppercase;

					    &.music{
					      	background-color: #E1251B;
					    }

					    &.gaming{
					      	background-color: #00BFA5;
					    }

					    &.pop{
					    	width: 5vw; 
					    	background-color: #0056A3;
					    }
					}

					.note-card-title{
						color: #333333;
						font-family: 'Montserrat', sans-serif;
					  	font-size: 1.5vw;
					  	font-weight: 700;
					  	line-height: 35px;
					}

					.note-card-text{
						color: #333333;
						font-family: 'Montserrat', sans-serif;
						font-weight: 400;
	  					line-height: 29px;
					}

					.note-card-btn{
						font-size: 0.9vw;
						background-color: #FFFFFF;
						border-radius: 50px;
						padding: 7px 24px;						
					}					
				}				
			}
		}
	}
}

/**** Node Content Lado B ****/
.node-type-lado-b{
	background-color: #ffffff;
	background-image: none;

	.navbar-home, .navbar-mb, .openbtn, .footer-site{
		display: none;
	}

	.footer{    	    
	  &.footer-site, &.footer-promo{
	  		display: none;
	  }
	}

	.shares-links-list{
		top: 10vw;
    	left: 5vw;
		position: fixed;

		.share-item{
			list-style: none;

			a{
				.ico-share{
					width: 40px;
					height: 40px;
					display: block;
					margin: 0 auto 15%;

					&.fb-ico{
						background-image: url(../images/social-media/ico-facebook.png);
						background-repeat: no-repeat;
						background-size: contain;						
					}

					&.tw-ico{
						background-image: url(../images/social-media/ico-twitter.png);
						background-repeat: no-repeat;
						background-size: contain;
					}
				}				
			}

			.share-img{
				width: 1.8vw;
				margin: 0 auto;
			}
		}
	}

	#block-system-main{
		width: 100%;
		height: 100%;
		min-height: 100vh;	
		padding-bottom: 5%;

		#node-banner-section{
			.node-banner-container{
				.banner-node{
					padding-top: 0px;
					padding-bottom: 0px;
				}
			}
		}

		#node-content-section{
			.node-container{
				width: 60vw;
				color: #333333;
				font-family: 'Montserrat', sans-serif;
				margin-top: -10vw;		
				padding: 35px 45px;		
			    position: relative;
			    background-color: #ffffff;	

			    &.music{
			      border-top: 5px solid #E1251B;
			    }

			    &.gaming{
			      border-top: 5px solid #00BFA5;
			    }

			    &.pop{
			      border-top: 5px solid #0056A3;
			    }

			    .note-categorie{
			    	width: 3vw;
			    	color: white;
			    	margin-bottom: 3%;
			    	padding: 2px 5px;
			    	display: block;
			    	text-align: center;
			    	font-family: Teko;
			    	transform: skew(-5deg);
			    	letter-spacing: 1px;
			    	text-transform: uppercase;

			    	&.music{
			    	  background-color: #E1251B;
			    	}

			    	&.gaming{
			    	  background-color: #00BFA5;
			    	}

			    	&.pop{
			    	  width: 5vw; 
			    	  background-color: #0056A3;
			    	}
			    }

			    .note-title{
			    	width: 85%;
			    	text-transform: none;
			    	font-weight: 700;

			    	small{
			    		color: #333;
			    	}
			    }

			    .note-author{
			    	color: #999999;			    	 
			    	font-size: 12px;			    	
			    	font-weight: 600;
			    	line-height: 14px;
			    	text-align: left;
			    	text-transform: uppercase;			    	
			    	display: block;
			    	margin: 2% auto 4%;

			    	i{
			    		width: 20px;
			    		height: 2px;
			    		background-color: #E1251B;	
			    		display: inline-block;
			    		position: relative;	
			    		vertical-align: middle;	    		  
			    	}
			    }

			    .note-content-text{
			    	font-size: 16px;
			    }

			    #note-gallery{
			    	margin: 5% auto 0%;

			    	.ug-theme-panel{
			    		.ug-default-button-play-single{
			    			display: none;
			    		}

			    		.ug-strip-panel{
			    			background-color: rgba(35, 35, 35, 0) !important;
			    		}
			    	}

			    	.ug-slider-wrapper{
			    		.ug-zoompanel{
			    			display: none !important;
			    		}
			    	}			    	
			    }
			}
		}

		#node-carousel-section{
			.node-carousel-container{
				width: 60vw;
				text-align: center;
				margin-bottom: 2%;

				.mas-title{
					color: #333333;
					font-size: 2.2vw;
					margin: 4% auto;

					span{
						width: auto;  
						color: #ffffff;
						padding: 2px 7px;
						display: inline-block;
						text-align: center;
						background-color: #E1251B;   
						transform: skew(-5deg);
					}			
				}

				.note-card-body{
					.note-card-categorie{
					    width: 4vw;
					    color: #ffffff;    
					    margin-bottom: 3%;
					    padding: 3px 5px;
					    display: block;
					    text-align: center;    
					    transform: skew(-5deg);
					    letter-spacing: 1px;
					    text-transform: uppercase;

					    &.music{
					      	background-color: #E1251B;
					    }

					    &.gaming{
					      	background-color: #00BFA5;
					    }

					    &.pop{
					    	width: 5vw; 
					    	background-color: #0056A3;
					    }
					}

					.note-card-title{
						color: #333333;
						font-family: 'Montserrat', sans-serif;
					  	font-size: 1.5vw;
					  	font-weight: 700;
					  	line-height: 35px;
					}

					.note-card-text{
						color: #333333;
						font-family: 'Montserrat', sans-serif;
						font-weight: 400;
	  					line-height: 29px;
					}

					.note-card-btn{
						font-size: 0.9vw;
						background-color: #FFFFFF;
						border-radius: 50px;
						padding: 7px 24px;						
					}					
				}
			}
		}
	}	
}

/**** Lado B Video ****/
.page-lado-b{
	background-color: #ffffff;
	background-image: none;

	.navbar-home, .navbar-mb, .openbtn, .footer-site{
		display: none;
	}

	.footer{    	    
	  &.footer-site, &.footer-promo{
	  		display: none;
	  }
	}

	#block-system-main{
		width: 100%;
		height: 100%;
		min-height: 100vh;	
		padding-bottom: 0%;

		#lado-video-section{
			.lado-video-container{
				margin-bottom: 2%;

				.embed-responsive-16by9{
					margin-top: 2%;
					padding-bottom: 52.25%;					
				}
			}
		}
	}
}

.node-type-page{
	background-color: #DA1C47;
	background-image: none;

	.navbar-lado-b, .navbar-mb, .openbtn, .footer-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-site, &.footer-promo{
	  		display: none;
	  }
	}

	#block-system-main{
		width: 100%;
		height: 100%;
		min-height: 100vh;	
		padding-bottom: 0%;

		section{
			.container{
				img{
					width: 35vw;
    				margin: 5% auto 0;
				}

				.btn{					
				    margin: 4% auto 7%;
				    padding: 3px 42px;
				    color: #ffffff;
				    font-size: 1.5vw;
				    text-transform: uppercase;
				    border: 3px solid #ffffff;
				    border-radius: 50px;
				}
			}
		}
	}
}

.page-user{
	.openbtn, .navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  &.footer-lado-b, &.footer-promo{
	  		display: none;
	  }
	}

	#block-system-main{
		width: 100%;
		height: 100%;		
		min-height: 100vh;

		form{
			width: 50%;
			margin: 15% auto;

			.form-group{
				width: 70%;
			}

			.captcha{
				margin-bottom: 2%;
			}
		} 
	}
}


/**** Home promo Page ****/
.page-la-promo-barcel{
	.navbar-lado-b{
		display: none;
	}

	.footer{    	    
	  	&.footer-lado-b, &.footer-site{
	  		display: none;
	  	}
	}

	#home-section{
		width: 100%;
		height: 100%;
		min-height: 100vh;
		position: relative;
		background-color: #000000; 

		.banner-home-container{
			width: 100vw;
			height: unquote("calc(100vh - 60px)");
			display: table-cell;
		    vertical-align: middle;		    

		    .row{
		    	display: flex;
	    	    flex-wrap: wrap;
	    	    text-align: center;
	    	    justify-content: center;
	    	    margin-right: -15px;
	    	    margin-left: -15px;

	    	    .logo-promo{
	    	    	margin: 0 auto 2vw;
	    	    }	    	    
		    }

		    .promo-bkg{		    	
		    	margin: 1% 11%;
		    	position: relative;
		    	background-size: contain;
		    	background-position: center;
		    	background-repeat: no-repeat;

		    	.promo-content{
		    		padding: 0vw 15vw;
		    		padding-top: 10vw;
		    		padding-bottom: 8vw;

		    		.media{
		    			text-align: left;
		    			background-color: #4a17d8;		    			

		    			.media-number{
		    				width: 64px;
		    				height: 64px;
		    				font-size: 2.6vw;
		    				font-family: 'Teko', sans-serif;
		    				font-weight: 400;
		    				padding: 0px 25px;
		    				padding-right: 5px;
		    			}
		    			
		    			.media-body{
		    				.media-heading{
		    					font-size: 1.4vw;
		    					font-family: 'Teko', sans-serif;
		    					font-weight: 600;		    					
		    					margin-top: 5px;
		    					margin-bottom: 0px;
		    				}

		    				.media-txt{
		    					font-size: 0.7vw;
		    					font-family: 'Montserrat', sans-serif;
		    					font-weight: 500;
		    				}
		    			}		    			
		    		}

		    		.col-steps{
		    			padding-top: 2vw;
		    		}
		    	}
		    }
		}
	}

	#remodal-legales{ 
		.legales-container {
		    width: 100%;
		    height: 65vh;
		    position: relative;
		    margin: 0 auto;
		    padding: 0 15px;
		    font-family: 'Montserrat', sans-serif;
		}
	}
}

/**** Media Querys ****/
@media (max-width: 768px) {	
	.footer{
		&.footer-site{
			padding-top: 25px;
		}

		&.footer-promo{
			height: 65px;
			margin-top: 0px;
			padding-top: 25px;
			padding-bottom: 0px;
		}
	}

	/**** Home Page ****/
	.page-home{
		#home-section{
			background-image: url('../images/promo/home-promo/fondo_rojo_mob.jpg');	
			margin-bottom: 10%;
			min-height: 80vh;

			.banner-home-container{
				.link-banner{
					.banner-barcel{
						top: 20vw;
						width: 40vw;						
					}
				}				

				.col-home-left{
					min-height: 50vh;

					.content-scene{
						margin-top: 15vh;

						.scene{
							.scene-one{
								img{
									width: 45vw;
								}
							}

							.scene-two{
								top: 7vw !important;
								left: 11vw !important;

								img{
									width: 25vw;
								}
							}
						}
					}
				}

				.col-home-right{
					min-height: 50vh;

					.content-scene{
						.scene{
							.scene-one{
								img{
									width: 65vw;
								}
							}

							.scene-two{
								top: 4vw !important;
								left: 25vw !important;

								img{
									width: 12vw;
								}
							}
						}
					}
				}
			}
		}
	}

	/**** Brands Page ****/
	.page-marcas{
		#brands-section{
			margin-bottom: 10%;
		}
	}

	/**** Products Page ****/
	.views-productos{
		.navbar-mb{
			width: 100%;
			position: absolute;	
			z-index: 6;
		}

		#products-section{
			.products-container{
				.arrow-down{
					top: 83vh;
					width: 35px;
				}

				.head-campaing{
					margin: 5% auto 0 10%;
				}

				/*.section-campaing{
					.fp-tableCell{
						vertical-align: initial;
					}
				}*/

				.package-product{
					width: 60vw;
					margin: 2% auto;

					&.package-chipotle-limon{
						width: 40vw;
					}
				}

				.prod-description{
					width: 75%;
					font-size: 3.2vw;
					margin: 0 auto;
				}

				.btn-product{
					font-size: 5.5vw;
					margin: 3% auto 8%;
					padding: 3px 50px;					
				}

				.row-main{
					.col-main{
						.scene{
							.scene-packing{
								top: 15vh !important;

								img{
									width: 70vw;
									margin: 7vw auto 0;
								}
							}

							.scene-product{
								top: 70vh !important;

								img{
									width: 60vw;
								}
							}
						}
					}
				}

				.row-product{
					.col-product{
						.head-product{
							color: #F6DB36;
							margin-top: 0px;
							margin-bottom: 5px;							
						}
					}
				}
			}
		}
	}

	/**** Campaings Page ****/
	.page-campanias{
		.navbar-mb{
			width: 100%;
			position: absolute;	
			z-index: 6;
		}

		#campaings-section{
			.campaings-container{
				.arrow-down{
					top: 83vh;
					width: 35px;
				}

				.head-campaing{
					margin: 5% auto 0 10%;
				}				
			}			
		}
	}

	.node-type-legales{
		#legales-section{			
			height: 90vh;
			display: table;

			.container{
				display: table-cell;

				h2{
					font-size: 8.2vw;
					margin: 5% auto 2%;
				}

				.legales-container{
					width: 95%;
				}
			}
		}
	}

	.node-type-webform{
		#contact-section{

			.contact-container{
				width: 100%;

				p{
					width: 60%;
					margin: 0 auto 5%;
				}

				.page-header{
					font-size: 8.2vw;
				}

				.form-item{
					width: 80%;
				}				

				.form-actions{
					.webform-submit{
						font-size: 6.5vw;
						margin-bottom: 20%;
					}
				}
			}
		}
	}

	/**** Home Page El Lado B ****/
	.page-el-lado-b{
		#block-system-main{
			.o-sliderContainer{
				margin: 48px 0px 20px;

				.o-slider{
					.o-slider--item{
						.o-slider-textWrap{
							width: 80%;
							left: 10vw;
							bottom: 0vw;

							.o-slider-categorie{
								width: 10vw;

								&.pop{
									width: 13vw;
								}
							}

							.o-slider-title{
								font-size: 8.5vw;
							}

							.o-slider-paragraph{
								font-size: 3.2vw;
								margin-bottom: 10%;
								max-width: 100%;
								line-height: 35px;
							}

							.o-slider-btn{
								font-size: 3vw;
							}
						}
					}
				}
			}

			#lado-note-section{
				.note-container{
					.note-categorie{
						width: 10vw;

						&.pop{
							width: 15vw;							
						}
					}

					.note-title{
						font-size: 5vw;
						line-height: 45px;
					}	

					.note-paragraph{
						font-size: 21px;
						line-height: 35px;						
					}

					.note-btn{
						font-size: 3vw;
					}
				}
			}

			#mas-lado-section{
				.mas-lado-container{
					width: 95%;

					.mas-title{
						font-size: 8.2vw;
						margin-bottom: 6%;
					}

					.note-card-body{
						margin-bottom: 5%;

						.note-card-categorie{
							width: 10vw;

							&.pop{
								width: 15vw;
							}
						}

						.note-card-title{
							font-size: 5vw;
							line-height: 45px
						}

						.note-card-text{
							font-size: 21px;
							line-height: 35px;							
						}

						.note-card-btn{
							font-size: 3vw;
						}
					}
				}
			}
		}
	}

	/**** Categories Lado B Pages ****/
	.page-categories{
		.block-views{
			#categorie-note-section{
				.categorie-note-container{
					.categorie-note-categorie{
						width: 10vw;

						&.pop{
							width: 15vw;
						}
					}

					.categorie-note-title{
						font-size: 5vw;
						line-height: 45px
					}

					.categorie-note-text{
						font-size: 21px;
						line-height: 35px;							
					}

					.categorie-note-btn{
						font-size: 3vw;
					}
				}

				.categorie-note-paragraph{
					font-size: 21px;
					line-height: 35px;
				}
			}

			#categorie-head-section{
				.categorie-container{
					.categorie-title{
						font-size: 8.2vw;
						margin: 12% auto 0%;
						margin-bottom: 6%;
					}
				}
			}
		}

		#block-system-main{
			#categorie-notes-section{
				.categorie-container{
					width: 95%;
					margin-bottom: 10%;

					.note-card-body{
						margin-bottom: 5%;

						.note-card-categorie{
							width: 10vw;

							&.pop{
								width: 15vw;
							}
						}

						.note-card-title{
							font-size: 5vw;
							line-height: 45px
						}

						.note-card-text{
							font-size: 21px;
							line-height: 35px;							
						}

						.note-card-btn{
							font-size: 3vw;
						}
					}
				}				
			}
		}

		.pager-show-more{			
			margin-bottom: 18%;

			.pager-show-more-next{
				a{
					font-size: 4vw;
				}
			}
		}
	} 

	.node-type-lado-b{
		#block-system-main{
			.shares-links-container{				
				top: 10vh;
				padding: 0.3% 0;
				text-align: center;				
				position: -webkit-sticky;
				position: sticky;
				background-color: #ffffff;
				border-bottom: 1px solid #e7e7e7;				
				display: none;
				z-index: 5;

				.shares-links-mb{
					margin: 7% auto 5%;
					-webkit-padding-start: 0px;

					.share-item{
						margin-left: 8px;
						display: inline-block;							
						list-style-type: none;

						a{
							.ico-share{
								width: 40px;
								height: 40px;
								display: inline-block;
								margin: 0 auto;

								&.fb-ico{
									background-image: url(../images/social-media/ico-facebook.png);
									background-repeat: no-repeat;
									background-size: contain;						
								}

								&.tw-ico{
									background-image: url(../images/social-media/ico-twitter.png);
									background-repeat: no-repeat;
									background-size: contain;
								}
							}				
						}

						.share-img{
							width: 40vw;
							margin: 0 auto;
							display: inline-block;
							vertical-align: initial;
						}
					}
				}
			}

			#node-content-section{
				.node-container{
					width: 90%;
					margin-top: -30vw;
					padding: 30px 20px;

					.note-categorie{
						width: 10vw;

						&.pop{
							width: 15vw;
						}
					}

					.note-title{
						width: 95%;						
						font-size: 32px;
					}

					.note-content-text{
						font-size: 15px;
					}

					.shares-links-mb{
						margin: 5% auto;

						.share-item{
							margin-left: 8px;
							display: inline-block;							
							list-style-type: none;

							a{
								.ico-share{
									width: 55px;
									height: 55px;
									display: inline-block;
									margin: 0 auto;

									&.fb-ico{
										background-image: url(../images/social-media/ico-facebook.png);
										background-repeat: no-repeat;
										background-size: contain;						
									}

									&.tw-ico{
										background-image: url(../images/social-media/ico-twitter.png);
										background-repeat: no-repeat;
										background-size: contain;
									}
								}				
							}

							.share-img{
								width: 35vw;
								margin: 0 auto;
								display: inline-block;
								vertical-align: baseline;
							}
						}
					}
				}				
			}

			#node-carousel-section{
				.node-carousel-container{
					width: 90%;

					.mas-title{
						font-size: 8.2vw;
						margin: 0% auto;
						margin-bottom: 10%;
					}

					.note-card-body{
						.note-card-categorie{
							width: 10vw;

							&.pop{
								width: 15vw;
							}
						}

						.note-card-title{
							font-size: 5vw;
							line-height: 45px
						}

						.note-card-text{
							font-size: 21px;
							line-height: 35px;
						}

						.note-card-btn{
							font-size: 3vw;
						}
					}

					.owl-carousel{
						margin-bottom: 10%;
					}
				}
			}
		}

		.shares-links-list{
			display: none !important;
		}
	}

	.page-lado-b{
		#block-system-main{
			min-height: unquote("calc(100vh - 150px)");

			#lado-video-section{
				.lado-video-container{
					.embed-responsive-16by9{
						margin-top: 20vh;
					}
				}
			}
		}		
	}

	.n100vhe{
		#block-system-main{
			section{
				.container{
					img{
						width: 80vw;
						margin: 20vh auto 5%;
					}

					.btn{
						font-size: 4.5vw;
					}
				}
			}
		}
	}

	.page-la-promo-barcel{
		#home-section{
			padding-bottom: 45px;

			.banner-home-container{
				.row{
					margin-right: 0px;
					margin-left: 0px;

					.logo-promo{
						width: 65vw;
						margin: 10vw auto 0vw;
					}
				}

				.promo-bkg{
					margin: 1% 0%;

					.promo-content{
						padding-top: 0vw;
						padding-bottom: 0vw;
						padding: 32vw 10vw;

						.media{
							.media-number{
								font-size: 9.6vw;
							}

							.media-body{
								.media-heading{
									font-size: 5.4vw;
								}

								.media-txt{
									font-size: 2.8vw;
								}
							}
						}
					}
				}
			}
		}		
	}
}

@media (max-width: 424px ) {
	body{
		font-size: 11px;
	}

	/**** Home Page ****/
	.page-home{
		#home-section{
			.banner-home-container{
				.col-home-left{
					min-height: 50vh;

					.content-scene{
						.scene{
							.scene-one{
								img{
									width: 45vw;
								}
							}

							.scene-two{
								top: 7vw !important;
								left: 11vw !important;

								img{
									width: 25vw;
								}
							}
						}
					}
				}

				.col-home-right{
					min-height: 50vh;

					.content-scene{
						.scene{
							.scene-one{
								img{
									width: 65vw;
								}
							}

							.scene-two{
								top: 0vw !important;
								left: 20vw !important;

								img{
									width: 25vw;
								}
							}
						}
					}
				}
			}
		}
	}

	.views-productos{
		.navbar-mb{
			width: 100%;
			position: absolute;	
			z-index: 6;
		}

		#products-section{
			.products-container{
				.arrow-down{
					top: 73vh;
					width: 35px;
				}

				.head-campaing{
					margin: 5% auto 0 10%;
				}

				/*.section-campaing{
					.fp-tableCell{
						vertical-align: initial;
					}
				}*/

				.package-product{
					width: 60vw;
					margin: 2% auto;

					&.package-chipotle-limon{
						width: 40vw;
					}
				}

				.prod-description{
					width: 75%;
					font-size: 4.5vw;
					margin: 0 auto;
				}

				.row-main{
					.col-main{
						.scene{
							.scene-packing{
								top: 15vh !important;

								img{
									width: 80vw;
									margin: 7vw auto 0;
								}
							}

							.scene-product{
								top: 60vh !important;

								img{
									width: 70vw;
								}
							}
						}
					}
				}

				.row-product{
					.col-product{
						.head-product{
							margin-top: 0px;
							margin-bottom: 5px;
						}
					}
				}
			}
		}
	}

	.page-campanias{
		.navbar-mb{
			width: 100%;
			position: absolute;	
			z-index: 6;
		}

		#campaings-section{
			.campaings-container{
				.arrow-down{
					top: 72vh;
					width: 35px;
				}
				
				.head-campaing{
					margin: 5% auto 0 10%;
				}				
			}			
		}
	}

	.node-type-legales{
		#legales-section{			
			height: 90vh;
			display: table;

			.container{
				display: table-cell;

				h2{
					font-size: 8.2vw;
					margin: 5% auto 2%;
				}

				.legales-container{
					width: 95%;
				}
			}
		}
	}

	.node-type-webform{
		#contact-section{

			.contact-container{
				width: 100%;

				p{
					width: 60%;
					margin: 0 auto 5%;
				}

				.page-header{
					font-size: 8.2vw;
				}

				.form-item{
					width: 80%;
				}				

				.form-actions{
					.webform-submit{
						font-size: 6.5vw;
						margin-bottom: 20%;
					}
				}
			}
		}
	}

	/**** Home Page El Lado B ****/
	.page-el-lado-b{
		#block-system-main{
			.o-sliderContainer{
				margin: 48px 0px 20px;

				.o-slider{
					.o-slider--item{
						.o-slider-textWrap{
							width: 80%;
							left: 10vw;
							bottom: 10vw;

							.o-slider-categorie{
								width: 13vw;

								&.pop{
									width: 17vw;
								}
							}

							.o-slider-title{
								font-size: 8vw;
							}

							.o-slider-paragraph{
								font-size: 4vw;
								margin-bottom: 10%;
								max-width: 100%;
								line-height: 25px;
							}

							.o-slider-btn{
								font-size: 4vw;
							}
						}
					}
				}
			}

			#lado-note-section{
				.note-container{
					.note-categorie{
						width: 15vw;

						&.pop{
							width: 20vw;							
						}
					}

					.note-title{
						font-size: 7vw;						
						line-height: 30px;
					}	

					.note-paragraph{
						font-size: 16px;
						line-height: 28px;						
					}

					.note-btn{
						font-size: 4vw;
					}
				}
			}

			#mas-lado-section{
				margin: 2% auto 15%;

				.mas-lado-container{
					width: 100%;
					padding-right: 0px;
					padding-left: 0px;

					.mas-title{
						font-size: 8.2vw;
						margin-bottom: 6%;
					}

					.note-card-body{
						margin-bottom: 5%;

						.note-card-categorie{
							width: 15vw;

							&.pop{
								width: 20vw;
							}
						}

						.note-card-title{
							font-size: 7.5vw;
							line-height: 30px
						}

						.note-card-text{
							font-size: 16px;
							line-height: 24px;							
						}

						.note-card-btn{
							font-size: 4vw;
						}
					}
				}
			}
		}
	}

	/**** Categories Lado B Pages ****/
	.page-categories{
		.block-views{
			#categorie-note-section{
				.categorie-note-container{
					.categorie-note-categorie{
						width: 15vw;

						&.pop{
							width: 20vw;
						}
					}

					.categorie-note-title{
						font-size: 7.5vw;
						line-height: 30px
					}

					.categorie-note-text{
						font-size: 16px;
						line-height: 24px;							
					}

					.categorie-note-btn{
						font-size: 4vw;
					}
				}
			}

			#categorie-head-section{
				.categorie-container{
					.categorie-title{
						font-size: 8.2vw;
						margin: 12% auto 0%;
						margin-bottom: 6%;
					}
				}
			}
		}

		#block-system-main{
			#categorie-notes-section{
				.categorie-container{
					width: 100%;

					.note-card-body{
						margin-bottom: 5%;

						.note-card-categorie{
							width: 15vw;

							&.pop{
								width: 20vw;
							}
						}

						.note-card-title{
							font-size: 7.5vw;
							line-height: 30px
						}

						.note-card-text{
							font-size: 16px;
							line-height: 24px;							
						}

						.note-card-btn{
							font-size: 4vw;
						}
					}
				}				
			}
		}

		.pager-show-more{			
			margin-bottom: 18%;

			.pager-show-more-next{
				a{
					font-size: 4vw;
				}
			}
		}
	}

	.node-type-lado-b{
		#block-system-main{
			#node-content-section{
				.node-container{
					width: 95%;
					margin-top: -30vw;
					padding: 30px 20px;

					.note-categorie{
						width: 15vw;

						&.pop{
							width: 20vw;
						}
					}

					.note-title{
						width: 95%;						
						font-size: 32px;
					}

					.note-content-text{
						font-size: 15px;
					}

					.shares-links-mb{
						margin: 5% auto;

						.share-item{
							margin-left: 8px;
							display: inline-block;							
							list-style-type: none;

							a{
								.ico-share{
									width: 35px;
									height: 35px;
									display: inline-block;
									margin: 0 auto;

									&.fb-ico{
										background-image: url(../images/social-media/ico-facebook.png);
										background-repeat: no-repeat;
										background-size: contain;						
									}

									&.tw-ico{
										background-image: url(../images/social-media/ico-twitter.png);
										background-repeat: no-repeat;
										background-size: contain;
									}
								}				
							}

							.share-img{
								width: 35vw;
								margin: 0 auto;
								display: inline-block;
								vertical-align: baseline;
							}
						}
					}
				}				
			}

			#node-carousel-section{
				.node-carousel-container{
					width: 95%;

					.mas-title{
						font-size: 8.2vw;
						margin: 0% auto;
						margin-bottom: 10%;
					}

					.note-card-body{
						.note-card-categorie{
							width: 15vw;

							&.pop{
								width: 20vw;
							}
						}

						.note-card-title{
							font-size: 7.5vw;
							line-height: 30px
						}

						.note-card-text{
							font-size: 16px;
							line-height: 24px;
						}

						.note-card-btn{
							font-size: 4vw;
						}
					}

					.owl-carousel{
						margin-bottom: 15%;
					}
				}
			}
		}

		.shares-links-list{
			display: none !important;
		}
	}

	.page-lado-b{
		#block-system-main{
			min-height: 91vh;

			#lado-video-section{
				.lado-video-container{
					.embed-responsive-16by9{
						margin-top: 35vh;
					}
				}
			}
		}		
	}
}

@100vh {
	.views-productos{
		#products-section{
			.products-container{
				.arrow-down{
					top: 70vh;
					width: 30px;
				}

				.package-product{
					width: 55vw;
				}

				.prod-description{
					font-size: 4vw;
				}

				.row-product{
					.col-product{
						.head-product{
							font-size: 28px;
						}
					}
				}
			} 
		}
	}

	.page-campanias{
		#campaings-section{
			.campaings-container{
				.arrow-down{
					top: 70vh;
					width: 30px;
				}
			}
		}
	}

	.page-el-lado-b{
		#block-system-main{
			.o-sliderContainer{
				.o-slider{
					.o-slider--item{
						.o-slider-textWrap{
							.o-slider-categorie{
								&.pop{
									width: 19vw;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 360px) {
	body{
		font-size: 11px;
	}

	.views-productos{
		.navbar-mb{
			z-index: 6;

			#logo{
				z-index: 0;
			}
		}

		#products-section{
			.products-container{
				.head-campaing{
					font-size: 27px;
				}

				.arrow-down{
					top: 65vh;
					width: 27px;
				}

				.package-product{
					width: 50vw;
				}

				.prod-description{
					font-size: 3.8vw;
				}
			}
		}
	}

	.page-campanias{
		.navbar-mb{
			z-index: 6;

			#logo{
				z-index: 0;
			}
		}

		#campaings-section{
			.campaings-container{
				.head-campaing{
					font-size: 26px;
				}

				.arrow-down{
					top: 65vh;
					width: 27px;
				}
			}
		}
	}

	.page-el-lado-b{
		#block-system-main{
			.o-sliderContainer{
				.o-slider{
					.o-slider--item{
						.o-slider-textWrap{
							.o-slider-categorie{								
								width: 17vw;

								&.pop{
									width: 26vw;								
								}
							}
						}
					}
				}
			}

			#lado-note-section{
				.note-container{
					.note-categorie{
						width: 17vw;

						&.pop{
							width: 26vw;								
						}
					}
				}
			}

			#mas-lado-section{
				.mas-lado-container{
					.note-card-body{
						.note-card-categorie{
							width: 17vw;

							&.pop{
								width: 26vw;								
							}
						}
					}
				}
			}
		}
	}

	.page-categories{
		.block-views{
			#categorie-note-section{
				.categorie-note-container{
					.categorie-note-categorie{
						width: 17vw;

						&.pop{
							width: 26vw;								
						}
					}
				}
			}			
		}

		#block-system-main{
			#categorie-notes-section{
				.categorie-container{
					.note-card-body{
						.note-card-categorie{
							width: 17vw;

							&.pop{
								width: 26vw;								
							}
						}
					}
				}
			}
		}
	}

	.node-type-lado-b{
		#block-system-main{
			#node-content-section{
				.node-container{
					.note-categorie{
						width: 17vw;

						&.pop{
							width: 26vw;								
						}
					}
				}
			}

			#node-carousel-section{ 
				.node-carousel-container{
					.note-card-body{
						.note-card-categorie{
							width: 17vw;

							&.pop{
								width: 26vw;								
							}
						}
					}
				} 
			}
		}
	} 
}

@media (max-width: 320px) {

}

@media (max-width: 768px) and (orientation: landscape) {

}